<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_links_root"
              name="Links"
              web_icon="link_all_project,static/description/icon.png"
              sequence="0"/>

    <menuitem id="menu_links_master"
              name="Links systems"
              parent="menu_links_root"
              sequence="0"/>

</odoo>
